# Dump files
*.dmp

# License files
*.sublime_license

# Cache files
*.cache
*.rcache

# Session info
*.sublime_session

# Project files
*.sublime-project
*.sublime-workspace

# Random garbage
*.last-run
Data/Index/*
recent.json

# Index files
Index/
